<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPTC Campus Guide</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin />
    <link rel="stylesheet" href="./css/normalize.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
    <style>
      @import url('./css/index.css');
    </style>
  </head>
  <body>
    <header class="header">
      <div class="header_h1_container">
        <h1 class="header_h1">UPTC Campus Guide</h1>
      </div>
    </header>
    <main class="main">
      <div class="main_aside_container">
        <aside class="aside">
          <h2 class="asside_h2">Crear Ruta</h2>
          <form action="/my-handling-form-page" method="post" class="aside_form">
            <div class="div_form_campus">
              <label for="form_campus" class="label_form_campus">Sede: </label>
              <select name="Campus" id="form_campus">
                <option value="tunjaCentral">Sede Central - Tunja</option>
              </select>
            </div>
            <div class="div_form_initLocation">
              <label for="form_initLocation" class="label_form_initLocation">Desde:
              </label>
              <select name="initLocation" id="form_initLocation">
                <option value="###">Edificio</option>
              </select>
            </div>
            <div class="div_form_destLocation">
              <label for="form_destLocation" class="label_form_destLocation">Hasta:
              </label>
              <select name="destLocation" id="form_destLocation">
                <option value="###">Edificio</option>
              </select>
            </div>
            <input type="button" id="form_button">
          </form>
        </aside>
      </div>
      <div class="main_mapContainer">
        <div id="map"></div>
      </div>
    </main>
  </body>
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin></script>
  <script>
    if("geolocation" in navigator){
      const map = L.map("map")
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
      navigator.geolocation.getCurrentPosition((position)=>{
        console.log(position);
        map.setView([5.551913469961997, -73.35665277100149], 17);
      }, (error)=>{
        console.log(error);
      });
    }
  </script>
</html>
